%div{:class=>"col-xs-12 col-md-2"}
  = simple_form_for(@category.becomes(Financial::Category)) do |f|
    - f.object = @category.becomes(@category.class)
    = f.input :type, :collection=>[['Expense','Financial::ExpenseCategory'],['Income','Financial::IncomeCategory']]
    = f.input :description, :placeholder=>"Short description"
    = f.button :submit