.modal.fade#form{'tabindex'=>'-1', 'role'=>'dialog', 'aria-hidden'=>'true'}
  .modal-dialog
    .modal-content
      .modal-body
        =show_flash_message
        %br
        %button.btn.btn-default.btn-block{'data-dismiss'=>'modal'} Close