.important {background-color:LightGray}
table{width:98%;}
.close-button{text-align:right}
.field_with_errors{border-style:solid; border-color:Red}
#errorExplanation{
  h2{background-color:#D80000; color:White}
}
.default-hidden{display:none}
