@import "bootstrap";
@import "bootstrap/theme";

table{width:98%;}

.default-hidden{display:none}

.important {background-color:LightGray}

.close-button{text-align:right}

#errorExplanation{
  @extend .alert;
  @extend .alert-danger;
}
.field_with_errors { @extend .has-error; }

.modal-left {
  width: 49%;
  float: left;
}

.modal-right {
  width: 49%;
  float: right;
}