:javascript
  function drawMonthChart() {
    var options = {'title':'Expense'};
    var data = new google.visualization.arrayToDataTable(#{gc_table_for_summary(@report.month_summary['expense'])});
    var chart = new google.visualization.PieChart(document.getElementById('month_chart'));
    chart.draw(data, options);
  }

  function toggleMonthReport(){//only display month report in portrait
    if(window.innerHeight > window.innerWidth){
      $("#bymonth").show();
      drawMonthChart();
    } else {
      $("#bymonth").hide();
    }
  }

  $(document).ready(function(){
    
    $("#by_month_form #date").change(function () {
      $('#by_month_form').submit();
    })

    //window.addEventListener("orientationchange", function() {
    //  toggleMonthReport();
    //},false);

    //toggleMonthReport();
    drawMonthChart();
  });

%div{:class=>"panel panel-primary"}
  %div{:class=>"panel-heading"}
    =form_tag by_month_reports_url, :id=>'by_month_form', :method=>'get', :remote=>true, :role=>"form", :class=>"form-inline" do
      .form-group
        =label_tag 'date', "Month"
        =select_tag('date', options_for_select(months_from_2_years_ago, date_for_select(@report.date)), :class=>'form-control')
  %div{:class=>"panel-body"}
    %div{:class=>"col-xs-12 col-md-2"}
      %table.table.table-striped
        %tbody
          %tr
            %th= link_to 'Income', incomes_path('start_date'=>date_for_select(@report.month_summary['start']), 'end_date'=>date_for_select(@report.month_summary['end']))
            %td=@report.month_summary['total_income']
          %tr
            %th= link_to 'Expense', expenses_path('start_date'=>date_for_select(@report.month_summary['start']), 'end_date'=>date_for_select(@report.month_summary['end']))
            %td=@report.month_summary['total_expense']
          %tr
            %th Balance
            %td=@report.month_summary['total_balance']
    %div{:class=>"col-xs-12 col-md-10"}
      #month_chart