:javascript
  $(document).ready(function(){
    $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" });

    $("#by_date_form #datepick").change(function () {
      $('#by_date_form').submit();
    })
  });

=form_tag by_date_reports_url, :id=>'by_date_form',:method=>'get', :remote=>true do
  %fieldset
    %legend=text_field_tag('date', @report.date, :id=>'datepick', :class=>'datepicker')
    %table
      %tbody
        %tr{:class=>cycle('even', 'odd')}
          %th Income
          %td=@report.date_summary['total_income']
        %tr{:class=>cycle('even', 'odd')}
          %th Expense
          %td=@report.date_summary['total_expense']
        %tr{:class=>cycle('even', 'odd')}
          %th Balance
          %td=@report.date_summary['total_balance']