:javascript
  function drawWeekChart() {
    var data = new google.visualization.arrayToDataTable(#{json_table_for_google_chart(@report.week_summary['expense'])});
    var options = {'title':'#{@report.week_summary.start.strftime("%Y/%m/%d")} - #{@report.week_summary.end.strftime("%Y/%m/%d")} Expense','width':300,'height':300};
    var chart = new google.visualization.PieChart(document.getElementById('week_chart_div'));
    chart.draw(data, options);
  }

  $(document).ready(function(){
    $("#by_week_form #date").change(function () {
      $('#by_week_form').submit();
    })
    drawWeekChart();
  });

=form_tag by_week_reports_url, :id=>'by_week_form', :method=>'get', :remote=>true do
  %fieldset
    %legend=select_tag('date', options_for_select(last_12_weeks))
    %table
      %tbody
        %tr{:class=>cycle('even', 'odd')}
          %th Income
          %td=@report.week_summary['total_income']
        %tr{:class=>cycle('even', 'odd')}
          %th Expense
          %td=@report.week_summary['total_expense']
        %tr{:class=>cycle('even', 'odd')}
          %th Balance
          %td=@report.week_summary['total_balance']
    #week_chart_div