.modal.fade#form{'tabindex'=>'-1', 'role'=>'dialog', 'aria-hidden'=>'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss'=>'modal', 'aria-label'=>'Close'}
          %span{'aria-hidden'=>'true'}
            &times;
        %h4.modal-title
          Exclude the following categories
      .modal-body
        .form-horizontal
          =form_for :category, url: balance_by_months_reports_path, method: 'GET' do |f|
            .form-group.row
              =f.select 'category_id', options_from_collection_for_select(@categories, 'id', 'description'),{}, {'multiple'=>true}
            .form-group.row
              =f.submit 'Apply', class:'btn btn-primary btn-block'

:javascript
  $(document).ready(function() {
      $('#category_category_id').multiselect({
          includeSelectAllOption: true,
          enableFiltering: true
      });
  });