.modal.fade#form{'tabindex'=>'-1', 'role'=>'dialog', 'aria-hidden'=>'true'}
  .modal-dialog
    .modal-content
      .modal-body
        .form-horizontal
          =form_for :category, url: balance_by_months_reports_path, method: 'GET' do |f|
            -@categories.each do |e|
              .form-group.row
                =f.check_box e.description
                =f.label e.description, e.description
            .form-group.row
              =f.submit 'Apply', class:'btn btn-primary btn-block'