- content_for :specific_view_js do
  %script{:src=>'https://www.google.com/jsapi', :type=>'text/javascript', :charset=>'utf-8'}

:javascript
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  //only draw chart if screen is in landscape mode
  function drawBalanceByMonthChart(){ 
    if(window.innerHeight < window.innerWidth){
      $("#balance_by_month_chart").show();
      var options = {
        title: 'Balance by month',
        vAxis: {title: "Amount"},
        hAxis: {title: "Month"},
        seriesType: "bars",
        series: {2: {type: "line"}}
      };
      var data = google.visualization.arrayToDataTable(#{gc_table_for_monthly_balance(@report.balance_by_month)});
      var chart = new google.visualization.ComboChart(document.getElementById('balance_by_month_chart'));
      chart.draw(data, options);
    } else {
      $("#balance_by_month_chart").hide();
      alert("rotate phone horizontally to view graph");
    }
  }

  $(document).ready(function(){
    window.addEventListener("orientationchange", function() {
      drawBalanceByMonthChart();
    },false);

    drawBalanceByMonthChart();
  });

.row
  .col-xs-12
    #balance_by_month_chart
.row
  .col-xs-12.center-block
    =link_to exclude_from_balance_by_months_reports_path, remote:true do
      %span.glyphicon.glyphicon-filter.center-block