%table.table.table-striped
  %thead
    %tr
      %th Report by
  %tbody
    -@categories.each do |e|
      %tr
        %td= link_to e.description, for_category_reports_path('category'=>e.description)
        