- content_for :specific_view_js do
  %script{:src=>'http://www.google.com/jsapi', :type=>'text/javascript', :charset=>'utf-8'}

:javascript
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  function drawCategoryByMonthChart(){
    if(window.innerHeight > window.innerWidth){
      $("#category_by_month_chart").hide()
      $("#suggestion").show();
    } else {
      $("#suggestion").hide();
      $("#category_by_month_chart").show()
      var options = {
        title: "#{@category_report.category.description} by month",
        vAxis: {title: "Amount"},
        hAxis: {title: "Month"},
        seriesType: "bars",
      };
      var data = google.visualization.arrayToDataTable(#{gc_table_for_category(@category_report.category_by_month)});
      var chart = new google.visualization.ComboChart(document.getElementById('category_by_month_chart'));
      chart.draw(data, options);
    }
  }

  $(document).ready(function(){
    drawCategoryByMonthChart();

    // Listen for orientation changes
    window.addEventListener("orientationchange", function() {
      drawCategoryByMonthChart();
    },false);
    
  });

%div{:class=>"col-xs-12"}
  #category_by_month_chart
  #suggestion
    %p Please rotate your device to landscape to see report
-#
  #byweek.col-xs-12=render :partial=>'by_week'
  #bydate.col-xs-12=render :partial=>'by_date'
