.container
  =link_to 'Monthly balance graph', balance_by_months_reports_path, class:'btn btn-primary btn-block'
  =link_to 'Summaries', summaries_reports_path, class:'btn btn-primary btn-block'
  =link_to 'Monthly by categories graph', monthly_for_categories_reports_path, 'data-remote'=>true, class:'btn btn-primary btn-block'