- content_for :specific_view_js do
  %script{:src=>'http://www.google.com/jsapi', :type=>'text/javascript', :charset=>'utf-8'}

:javascript
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

#bymonth=render :partial=>'by_month'
#byweek=render :partial=>'by_week'
#bydate=render :partial=>'by_date'
