:javascript
  $(document).ready(function(){
    $(function() {
      $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
  });

#bymonth=render :partial=>'by_month'
#byweek=render :partial=>'by_week'
#bydate=render :partial=>'by_date'
