- content_for :specific_view_js do
  %script{:src=>'http://www.google.com/jsapi', :type=>'text/javascript', :charset=>'utf-8'}

:javascript
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
.container
  .row
    .col-xs-12
      .btn-block.btn-group.btn-group-justified
        =link_to 'Month', month_summary_reports_path, remote:true, class:'btn btn-default', 'data-toggle-target'=>'#month_summary'
        =link_to 'Week', week_summary_reports_path, remote:true, class:'btn btn-default', 'data-toggle-target'=>'#week_summary'
        =link_to 'Day', date_summary_reports_path, remote:true, class:'btn btn-default', 'data-toggle-target'=>'#date_summary'
  
  .row
    #month_summary.col-xs-12.default-hidden
  .row
    #week_summary.col-xs-12.default-hidden
  .row
    #date_summary.col-xs-12.default-hidden
