%div{:class=>"col-xs-12 col-md-12"}
  =form_for @plan, :remote=>true, :html=>{:role=>"form"} do |b|
    %div{:class=>"col-xs-12 col-md-12"}
      .form-group
        =b.label :name, :class=>'sr-only'
        =b.text_field :name, :placeholder=>"friendly name for this plan", :class=>'form-control'
    %div{:class=>"col-xs-12 col-md-6"}
      %div{:class=>"panel panel-danger"}
        %div{:class=>"panel-heading"}
          Mortgage
        %div{:class=>"panel-body"}
          =b.fields_for :mortgage do |m|
            = m.error_messages
            .form-group
              =m.label :purchased_price, :class=>'sr-only'
              =m.number_field :purchased_price, :step=>0.01, :placeholder=>"purchased price", :class=>'form-control'
            .form-group
              =m.label :down_payment, :class=>'sr-only'
              =m.number_field :down_payment, :step=>0.01, :placeholder=>"down payment", :class=>'form-control'
            .form-group
              =m.label :interest, :class=>'sr-only'
              =m.number_field :interest, :step=>'any', :placeholder=>"annual interest rate", :class=>'form-control'
            .form-group
              =m.label :loan_term, :class=>'sr-only'
              =m.number_field :loan_term, :step=>1, :placeholder=>"loan term in year", :class=>'form-control'
            .form-group
              =m.label :municipal_tax, :class=>'sr-only'
              =m.number_field :municipal_tax, :step=>0.01, :placeholder=>"annual municipal tax (Canada)", :class=>'form-control'
            .form-group
              =m.label :school_tax, :class=>'sr-only'
              =m.number_field :school_tax, :step=>0.01, :placeholder=>"annual school tax (Canada)", :class=>'form-control'
            .form-group
              =m.label :heating, :class=>'sr-only'
              =m.number_field :heating, :step=>0.01, :placeholder=>"annual heating cost", :class=>'form-control'
            .form-group
              =m.label :house_insurance, :class=>'sr-only'
              =m.number_field :house_insurance, :step=>0.01, :placeholder=>"annual house insurance", :class=>'form-control'
            .form-group
              =m.label :mortgage_insurance, :class=>'sr-only'
              =m.number_field :mortgage_insurance, :step=>0.01, :placeholder=>"annualy, not taken into account in this calculator", :class=>'form-control'
            .form-group
              =m.label :revenue, :class=>'sr-only'
              =m.number_field :revenue, :step=>0.01, :placeholder=>"annual revenue from leasing", :class=>'form-control'
    %div{:class=>"col-xs-12 col-md-6"}
      %div{:class=>"panel panel-success"}
        %div{:class=>"panel-heading"}
          Investment
        %div{:class=>"panel-body"}
          =b.fields_for :investment do |i|
            = i.error_messages
            .form-group
              =i.label :principal, :class=>'sr-only'
              =i.number_field :principal, :step=>0.01, :placeholder=>"initial value of investment", :class=>'form-control'
            .form-group
              =i.label :rate, :class=>'sr-only'
              =i.number_field :rate, :step=>'any', :placeholder=>"annual rate of return", :class=>'form-control'
            .form-group
              =i.label :monthly_dep, :class=>'sr-only'
              =i.number_field :monthly_dep, :step=>0.01, :placeholder=>"monthly saving for investment", :class=>'form-control'
            .form-group
              =i.label :months, :class=>'sr-only'
              =i.number_field :months, :step=>1, :placeholder=>"number of months until mature", :class=>'form-control'
    %div{:class=>"col-xs-12 col-md-12"}
      =b.submit "Calculate", :class=>"btn btn-default"