:javascript
  $(document).ready(function(){
    //do not show form by default
    $('#add_plan').show();
    $('.plan-frm').hide();

    $('#add_plan').click(function(e){
      $('#add_plan').hide();
      $('.plan-frm').show();
    })
    $('#hide-form').click(function(e){
      $('#add_plan').show();
      $('.plan-frm').hide();
    })
  });

=link_to 'add plan', '#', id:'add_plan', class:'btn btn-success'
=link_to 'Update financial status', edit_finance_path(0), class:'btn btn-primary'

=form_for @plan, remote:true, html:{'role'=>'form', class:'form-horizontal plan-frm'} do |b|
  .row
    .col-xs-12
      .form-group
        =b.label :name, class:'col-xs-2 control-label'
        .col-xs-10
          =b.text_field :name, placeholder:'friendly name for this plan', class:'form-control'
  .row
    .col-xs-12.col-md-6
      .panel.panel-danger
        .panel-heading
          Mortgage
        .panel-body
          =b.fields_for :mortgage do |m|
            = m.error_messages
            .form-group
              =m.label :purchased_price, class:'col-xs-6 control-label'
              .col-xs-6
                =m.number_field :purchased_price, step:0.01, class:'form-control'
            .form-group
              =m.label :down_payment, class:"col-xs-6 control-label"
              .col-xs-6
                =m.number_field :down_payment, step:0.01, class:'form-control'
            .form-group
              =m.label :interest, class:'col-xs-6 control-label'
              .col-xs-6
                =m.number_field :interest, step:'any', placeholder:'annual %', class:'form-control'
            .form-group
              =m.label :loan_term, class:"col-xs-6 control-label"
              .col-xs-6
                =m.number_field :loan_term, step:1, placeholder:'years', class:'form-control'
            .form-group
              =m.label :municipal_tax, class:"col-xs-6 control-label"
              .col-xs-6
                =m.number_field :municipal_tax, step:0.01, placeholder:'annual', class:'form-control'
            .form-group
              =m.label :school_tax, class:"col-xs-6 control-label"
              .col-xs-6
                =m.number_field :school_tax, step:0.01, placeholder:'annual', class:'form-control'
            .form-group
              =m.label :heating, class:"col-xs-6 control-label"
              .col-xs-6
                =m.number_field :heating, step:0.01, placeholder:'annual', class:'form-control'
            .form-group
              =m.label :house_insurance, class:"col-xs-6 control-label"
              .col-xs-6
                =m.number_field :house_insurance, step:0.01, placeholder:'annual', class:'form-control'
            .form-group
              =m.label :mortgage_insurance, class:"col-xs-6 control-label"
              .col-xs-6
                =m.number_field :mortgage_insurance, step:0.01, placeholder:'annualy, not taken into account in this calculator', class:'form-control'
            .form-group
              =m.label :revenue, class:"col-xs-6 control-label"
              .col-xs-6
                =m.number_field :revenue, step:0.01, placeholder:'annual', class:'form-control'
    .col-xs-12.col-md-6
      .panel.panel-success
        .panel-heading
          Investment
        .panel-body
          =b.fields_for :investment do |i|
            = i.error_messages
            .form-group
              =i.label :principal, class:'col-xs-6 control-label'
              .col-xs-6
                =i.number_field :principal, step:0.01, class:'form-control'
            .form-group
              =i.label :rate, class:'col-xs-6 control-label'
              .col-xs-6
                =i.number_field :rate, step:'any', placeholder:'annual rate of return', class:'form-control'
            .form-group
              =i.label :monthly_dep, class:"col-xs-6 control-label"
              .col-xs-6
                =i.number_field :monthly_dep, step:0.01, class:'form-control'
            .form-group
              =i.label :months, class:"col-xs-6 control-label"
              .col-xs-6
                =i.number_field :months, step:1, placeholder:'until mature', class:'form-control'
  .row
    .col-xs-12
      .form-group
        .col-xs-6
          =link_to 'Cancel', '#', id:'hide-form', class:'btn btn-default btn-block'
        .col-xs-6
          =b.submit 'Calculate', class:'btn btn-primary btn-block'