=form_for @plan, :remote=>true do |b|
  =b.text_field :name, :placeholder=>"Friendly name for this plan"
  =b.fields_for :mortgage do |m|
    = m.error_messages
    %fieldset
      %legend.mortgage-form Mortgage
      =m.text_field :purchased_price, :placeholder=>"purchased price"
      %br
      =m.text_field :down_payment, :placeholder=>"down payment", :"data-bind"=>"value: down_payment"
      %br
      =m.text_field :interest, :placeholder=>"Annual interest rate"
      %br
      =m.text_field :loan_term, :placeholder=>"Loan term in year"
      %br
      =m.text_field :municipal_tax, :placeholder=>"Annual municipal tax (Canada)"
      %br
      =m.text_field :school_tax, :placeholder=>"Annual school tax (Canada)"
      %br
      =m.text_field :heating, :placeholder=>"Annual heating cost"
      %br
      =m.text_field :house_insurance, :placeholder=>"Annual house insurance"
      %br
      =m.text_field :mortgage_insurance, :placeholder=>"Annualy, not taken into account in this calculator"
      %br
      =m.text_field :revenue, :placeholder=>"Annual revenue from leasing"
      %br
      =b.fields_for :investment do |i|
        = i.error_messages
        %fieldset
          %legend.invesment-form Investment
          =i.text_field :principal, :placeholder=>"Initial value of investment", :"data-bind"=>"value: principal"
          %br
          =i.text_field :rate, :placeholder=>"Annual rate of return"
          %br
          =i.text_field :monthly_dep, :placeholder=>"Monthly saving for investment"
          %br
          =i.text_field :months, :placeholder=>"Number of month until maturity"
      %br
      =b.submit "Calculate"
