.panel
  .panel-heading.js_collapsable
    Alternative investment
  .panel-body
    =form_for investment, :remote=>true, :html=>{:role=>"form", :class=>'form-horizontal'} do |i|
      .form-group
        =i.label :alt_monthly_dep
        =i.number_field :alt_monthly_dep, :step=>0.01, :placeholder=>"alternative monthly deposit for investment", :class=>'form-control'
      .form-group
        =i.label :alt_rate
        =i.number_field :alt_rate, :step=>'any', :placeholder=>"alternative rate of return", :class=>'form-control'
      .form-group
        =i.label :alt_length
        =i.number_field :alt_length, :step=>1, :placeholder=>"number of months until mature", :class=>'form-control'
      .form-group
        =i.submit "Recalculate", :class=>"btn btn-default"