=form_for @payment_type do |p|
  = p.error_messages
  %fieldset
    %legend Method of payment
    %table
      %tr
        %th=p.label "Description"
        %td=p.text_field :description, :placeholder=>"Short description"
      %tr
        %th
          =p.submit "OK"