.container
  =form_for @payment_type, html:{class:'form-horizontal','role'=>'form'} do |p|
    = p.error_messages
    .form-group
      =p.label :description, class:'col-xs-6 control-label'
      .col-xs-6
        =p.text_field :description, placeholder:'Short description', class:'form-control'
    .form-group
      .col-xs-12
        =p.submit 'OK', class:'btn btn-primary btn-block'