%div{:class=>"col-xs-12 col-md-2"}
  =form_for @payment_type, :html=>{:role=>"form"} do |p|
    = p.error_messages
    .form-group
      =p.label :description, :class=>'sr-only'
      =p.text_field :description, :placeholder=>"Short description", :class=>'form-control'
    %br
    =p.submit "OK", :class=>"btn btn-default"