%table
  -@payment_types.each do |payment_type|
    %tr
      %td= link_to payment_type.description, edit_payment_type_path(payment_type)
      |
      %td= link_to 'Destroy', payment_type, confirm: 'Are you sure?', method: :delete