%table.table.table-striped
  %thead
    %tr
      %th Method of payment
      %th= link_to 'Add', new_payment_type_path, :class=>"btn btn-default"
  %tbody
    -@payment_types.each do |payment_type|
      %tr
        %td= link_to payment_type.description, edit_payment_type_path(payment_type)
        %td= link_to 'Remove', payment_type, confirm: 'Are you sure?', method: :delete