= stylesheet_link_tag    "financial/application"
= jquery_include_tag :google
= javascript_include_tag "financial/application"
%link{:rel=>"stylesheet", :href=>"//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"}
%link{:rel=>"stylesheet", :href=>"//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css"}
%script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"}
= yield :specific_view_js