.modal.fade#search_form{'tabindex'=>"-1", 'role'=>"dialog", 'aria-hidden'=>"true"}
  .modal-dialog
    .modal-content
      .modal-body
        Nothing to search
        %br
        %button.btn.btn-default{'data-dismiss'=>'modal'} Close