%nav.navbar.navbar-inverse{:role=>"navigation"}
  .navbar-header
    %button.navbar-toggle{'data-toggle'=>"collapse", 'data-target'=>"#bs-example-navbar-collapse-1"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{'href'=>"#"} Financial
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.dropdown
        %a{'href'=>"#", :class=>"dropdown-toggle", 'data-toggle'=>"dropdown"}
          Reports
          %b.caret
        %ul.dropdown-menu
          %li
            %a{'href'=>reports_path} Balance
          %li
            %a{'href'=>by_category_reports_path} By Category
      %li
        %a{'href'=>new_expense_path} Expense
      %li
        %a{'href'=>new_income_path} Income
      %li.dropdown
        %a{'href'=>"#", :class=>"dropdown-toggle", 'data-toggle'=>"dropdown"}
          Recurring
          %b.caret
        %ul.dropdown-menu
          %li
            %a{'href'=>new_recurring_payment_path} Add
          %li
            %a{'href'=>recurring_payments_path} List
      %li
        %a{'href'=>plans_path} Planning
      %li.dropdown
        %a{'href'=>"#", :class=>"dropdown-toggle", 'data-toggle'=>"dropdown"}
          Admin
          %b.caret
        %ul.dropdown-menu
          %li
            %a{'href'=>categories_path} Categories
          %li
            %a{'href'=>payment_types_path} Payment methods
