=form_for @finance do |f|
  = f.error_messages
  %fieldset
    %legend.finance-form This is your first time using financial app, please provide:
    =f.text_field :net_monthly_income, :placeholder=>"net monthly income"
    %br
    =f.text_field :net_monthly_expense, :placeholder=>"net monthly expense"
    %br
    =f.submit "Done"
